// /**
//  * Copyright © 2016 Exto. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    * {
        .box-sizing-border;
    }

    .customer-card-modal {

        &-title {
            margin: 0 0 3rem;
            font-weight: 400;
            line-height: 1.2;
            color: @card_title_color;
            font-size: 2.8rem;
            border-bottom: 1px solid @card_border_color;
            padding: 1.4rem 0 .5rem;
        }

        &-item-list {

        }

        &-item {
            display: block;
            width: 100%;
            margin-bottom: 4rem;

            &-title {
                margin-bottom: 1.5rem;
                font-size: 1.8rem;
                font-weight: 600;
                color: @card_title_color;
                line-height: 1.36;
                display: block;
            }

            &-inner {
                line-height: 1.36;
                font-size: 1.4rem;
                font-weight: 400;
                color: @card_text_color;

                &-box {
                    padding: 1rem 1rem;
                    .flex;
                    width: 100%;
                    .justify-content-between;
                    .align-items-start;

                    &:nth-child(odd) {
                       background-color: @card_background_grey;
                    }

                    &:nth-child(even) {
                       background-color: @card_background_primary;
                    }
                }

                &-title {
                    display: inline-block;
                    padding-right: 10px;
                }
            }
        }
    }

}

@media only screen and (min-width: @sarp__screen__xs){

}

@media only screen and (min-width: @sarp__screen__s){

    .customer-card-modal {

        &-item-list {
            .flex;
            width: 100%;
            .justify-content-between;
            .flex-wrap-wrap;
        }

        &-item {
            width: 48%;

            &:nth-child(odd) {
                margin-right: 2%;
            }
        }
    }
}

@media only screen and (min-width: @sarp__screen__m){

}

@media only screen and (min-width: @sarp__screen__l){

}
