<!--
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="visible: isLoading()" data-role="spinner" class="admin__data-grid-loading-mask">
    <div class="spinner">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
</div>
<div data-bind="visible: !isLoading()">

    <!-- ko foreach: getRegion('header') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->

    <div class="customer-card-modal-item-list">
    <!-- ko foreach: { data: getTabs(), as: 'tab' } -->
        <div class="customer-card-modal-item">
            <span class="customer-card-modal-item-title" data-bind="text: tab.title"></span>
            <div class="customer-card-modal-item-inner">
                <!-- ko foreach: $parent.getRegion(tab.code) -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    <!-- /ko -->
    </div>
</div>

