<!--
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div>
    <span data-bind="i18n: 'Last visit:'"></span>
    <span data-bind="text: getCardData('data.behaviour.last_visit_at')"></span>
</div>
<div>
    <span data-bind="i18n: 'Reviews:'"></span>
    <span data-bind="text: getCardData('data.behaviour.reviews_count')"></span>
</div>
<div>
    <span data-bind="i18n: 'Abandoned cart:'"></span>
    <span data-bind="text: getCardData('data.behaviour.abandoned_cart.total')"></span>
</div>
