<!--
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="customer-card-modal-item-inner-box">
    <span data-bind="i18n: 'Last visit:'" class="customer-card-modal-item-inner-title"></span>
    <span data-bind="text: getCardData('data.behaviour.last_visit_at')" class="customer-card-modal-item-inner-txt"></span>
</div>
<div class="customer-card-modal-item-inner-box">
    <span data-bind="i18n: 'Reviews:'" class="customer-card-modal-item-inner-title"></span>
    <span data-bind="text: getCardData('data.review.count')" class="customer-card-modal-item-inner-txt"></span>
</div>
<div class="customer-card-modal-item-inner-box">
    <span data-bind="i18n: 'Abandoned cart:'" class="customer-card-modal-item-inner-title"></span>
    <div class="customer-card-modal-item-inner-txt">
    <!-- ko if: getCardData('data.quote.active') -->
        <span data-bind="text: getCardData('data.quote.active.items_count')"></span>
        <span data-bind="text: getCardData('data.quote.active.total')"></span>
    <!-- /ko -->
    <!-- ko ifnot: getCardData('data.quote.active') -->
        <span data-bind="i18n: 'None'"></span>
    <!-- /ko -->
    </div>
</div>
