<!--
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div>
    <span data-bind="i18n: 'Is newsletter subscriber:'"></span>
    <span data-bind="text: getCardData('data.newsletter.is_subscriber') ? 'Yes' : 'No'"></span>
</div>
<div>
    <span data-bind="i18n: 'Coupon used:'"></span>
    <span data-bind="text: getCardData('data.sales_rule.used_coupon_count')"></span>
</div>
<div>
    <span data-bind="i18n: 'Number of orders made with promo rules applied:'"></span>
    <span data-bind="text: getCardData('data.sales_rule.promo_orders_count')"></span>
</div>