<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Exto. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Card data provider -->
    <preference for="Exto\CustomerCard\Model\Card\DataProviderInterface" type="Exto\CustomerCard\Model\Card\CompositeDataProvider" />
    <type name="Exto\CustomerCard\Model\Card\DataProviderInterface">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="general" xsi:type="object">Exto\CustomerCard\Model\Card\DataProvider\GeneralDataProvider\Proxy</item>
                <item name="sales" xsi:type="object">Exto\CustomerCard\Model\Card\DataProvider\SalesDataProvider\Proxy</item>
                <item name="sales-rule" xsi:type="object">Exto\CustomerCard\Model\Card\DataProvider\SalesRuleDataProvider\Proxy</item>
                <item name="quote" xsi:type="object">Exto\CustomerCard\Model\Card\DataProvider\QuoteDataProvider\Proxy</item>
                <item name="review" xsi:type="object">Exto\CustomerCard\Model\Card\DataProvider\ReviewDataProvider\Proxy</item>
                <item name="wishlist" xsi:type="object">Exto\CustomerCard\Model\Card\DataProvider\WishlistDataProvider\Proxy</item>
                <item name="newsletter" xsi:type="object">Exto\CustomerCard\Model\Card\DataProvider\NewsletterDataProvider\Proxy</item>
                <item name="behaviour" xsi:type="object">Exto\CustomerCard\Model\Card\DataProvider\BehaviourDataProvider\Proxy</item>
            </argument>
        </arguments>
    </type>

    <!-- Card js layout -->
    <preference for="Exto\CustomerCard\Model\View\JsLayoutInterface" type="Exto\CustomerCard\Model\View\JsLayout" />
</config>
